/*************** NEW STEP FORM HTML CSS 1 OCT ******************/
body {
	font-family: 'Josefin Sans', sans-serif;
}
.new-step-container {
    width: 95%!important;
}
.newstep-form {
    padding: 30px 0px;
    font-family: 'Josefin Sans', sans-serif;
}
.form-newalign {
	align-items: flex-start;
    justify-content: flex-end;
    display: flex;
}
.newstep-form h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: normal;
}
.checiocn {
	padding-left:0px;display: flex;
	margin-bottom:15px;
}
.checiocn li {
    list-style: none;
    display: flex;
    list-style: none;
    align-items: flex-start;
    width: 100%;
}
.checiocn li img {
	margin-right: 15px;
}
.checiocn li span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -4px;
}
.checiocn li span small {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    position: relative;
    top: -5px;
}

.apply-now-btn {
    background: #112F7B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    display: table;
    margin: 0px auto;
    padding: 10px 40px;
    color: white !important;
    text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
	border:none;
}
.apply-now-btn:hover {
    background: #FF9000;
	    text-decoration: none;
}	
a:focus {
    outline: none;
    outline-offset: 0px;
    text-decoration: none;
}
.new-mt50 {
	margin-top: 50px;
}
.stepform-newdesign .col-12 {
	margin-bottom:15px;
}
.stepform-newdesign .col-md-10 {
	margin-bottom:15px;
}
.stepform-newdesign .col-md-5 {
	margin-bottom:15px;
}

.stepform-newdesign input {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #424141;
	margin-bottom: 3px;
	position: relative;
	padding-right: 15px;
}
.stepform-newdesign input:focus {
    border: 1px solid #FF9000;
    outline: none;
}

.stepform-newdesign select {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #424141;
	    position: relative;
	margin-bottom: 3px;
	    padding-right: 35px;
}
.stepform-newdesign select:focus {
    border: 1px solid #FF9000;
    outline: none;
}

.stepform-newdesign .checkgreen {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #ffffff;
    background: #14b900;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
}




.stepform-newdesign a.resentotp {
	color: #FF9000;
}
.mb-0 {
	margin-bottom:0px !important;
}
.md-4 {
	margin-bottom:15px !important;
}
.ui-step-content {
    padding: 0px;
    border: none;
}
.ui-step-content h6 {
	    font-size: 16px;
    font-weight: 400;
    font-family: 'Josefin Sans';
    color: #A2A2A2;
    margin-top: 5px;
}
.unstyled {
	list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
}
.styled-checkbox + label a {
    color: #FF9000;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #707070;
}
.styled-checkbox:hover + label:before {
  background: #FF9000;
  border: 1px solid #FF9000;
}
.styled-checkbox:focus + label:before {
  box-shadow: none;
}
.styled-checkbox:checked + label:before {
  background: #FF9000;
  border: 1px solid #FF9000;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 0px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}
#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset {
    text-align: left;
}
.previous {
	color:#FF9000;
	background:transparent;
	border:none;
	font-weight: 400;
    font-family: 'Josefin Sans';
	font-size:14px;
	margin-bottom: 0px;
	padding: 0px;
}
.text-right {
	text-align:right;
}
.ml-00 {
	margin-left: 0px !important;
}
.mt-5 {
	margin-top:20px;
}

.radio {
    margin: 0px;
    display: inline-block;
    width: 50%;
    float: left;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;    width: 100px;
}
.radio input[type=radio] + .radio-label:before {
        content: "";
    background: #fff;
    border-radius: 100%;
    border: 1px solid #707070;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background: #FF9000;
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border: 1px solid #FF9000;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #707070;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.mb-33 {
	margin-bottom:5px;
}
.radio-label {
	font-size:14px;
}
.docutxt + label:before {
    width: 50px;
}
.mb-10 {
	margin-bottom: 10px;
}

.imgupload-box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
    position: absolute;
    right: 0px;
    z-index: 3;
}
.box-tools {
  position: absolute;
    right: 5px;
    top: 5px;
}
.box-tools button {
    background: #ff9000;
    color: white;
    border: none;
    padding: 0px;
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.box-body {
    position: absolute;
    width: 100%;
    height: 130px;
    object-fit: contain;
    z-index: 1;
}

.box-body img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    background: white;
    border: 2px dashed #91b0b3;
}
.box-body p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #112f7b;
    color: white;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 15px;
    font-size: 12px;
}
.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 130px;
    margin-bottom: 15px;
}
.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 85%;
    top: 45px;
    font-size: 14px;
}
.dropzone, .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 130px !important;
    cursor: pointer;
    opacity: 0;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}


.logo-static {
	width: 250px;
    margin-top: 30px;
}
.righimg {
    max-width: 100%;
    height: 385px;
    object-fit: cover;
    border-radius: 14px;
	margin-top: 25px;
}
.mt-1 {
	margin-top:0px;
}

.success-animation {
    margin: 35px auto;
    margin-top: 0px;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
.leftfloat-withmr-1 {
    margin-right: 15px;
    float: left;
}


.hidden {
    display: none;
}
  .open {
    display: block!important;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: #00000063;
  padding-top: 100px;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
    font-family: 'Josefin Sans';
    font-size: 16px;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-body .stepform-newdesign label {
	font-family: 'Josefin Sans';
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
}
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
[role="button"] {
  cursor: pointer;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}



/* Leander css */

.leanderlist-padding { padding-top: 50px;}
.f-24-size {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.link-website {font-size: 24px; text-decoration: underline; color: black; font-weight: 700;}
.review-body {
    padding-top: 8px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 3px solid #64984b !important;
    border: 1px solid #ddd;
margin-bottom: 20px;
}
.review-body .review-left {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    width: 150px;
}
.review-body .review-left a.card-thumbnail {
    position: relative;
    left: 1px;
    min-height: 35px;
    width: 170px;
    margin-bottom: 18px;
    display: block;
}
.review-body .review-left a.card-thumbnail img {
    width: 130px;
    height: auto;
}
.review-body .review-left a.button {
    display: block;
    height: 77px;
    width: 165px;
    position: relative;
    bottom: 18px;
}
.review-body .review-left a.button .bc-btn {
    top: 18px;
	position: relative;
    height: 42px;
    width: 144px;
    margin-left: 10px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    background-color: #319b0a;
    box-shadow: 0 1px 5px #555;
    border-radius: 3px;
}
.bc-btn .jump-text {
    position: relative;
    left: 1px;
    background: #ff8700;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.review-body .review-middle {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-left: 20px;
    min-height: 150px;
}
.review-body .review-middle ul {
    list-style-type: square;
    margin-bottom: 20px;
}
.review-body .review-right {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 110px;
    text-align: center;
    margin: 8px 15px 0 0;
}
.our-rating {
    padding-top: 10px;
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 10px;
}
.review-body .review-right .our-rating .stars {
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 0;
}
.stars {
    color: #e5bb0f;
    padding: 5px 0;
}
.review-body .review-right .our-rating h4 {
    color: #333;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}
.review-body .review-right .our-rating .overall-rating {
    margin: 0;
    font-size: 13px;
}
.review-body .review-middle a {
    color: #319b0a;
    text-decoration: underline;
    font-weight: 700;
}
.review-table table {
    width: 100%;
}
.review-table table thead {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.review-table table thead th {
    width: 25%;
    height: 25px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.review-table table tbody td:first-child {
    height: 35px;
    width: 155px;
    border: none;
}
.review-table table tbody td {
    font-weight: 700;
    text-align: center;
    border-left: 1px solid #ddd;
    font-size: 12px;
    color: #333;
}
.review-table table th {
    background-color: #ebecef;
    padding: 10px 5px !important;
}
.mobileshow {
	display:none !important;
}
.sb-btn {
    background: #00387a;
    color: white;
    padding: 15px 15px;
    border: none;transition: all 0.3s linear;
    display: block;    font-weight: 800;
    margin: 15px auto;
    width: 250px;    text-transform: uppercase;
	 margin-bottom: 20px;
	 border-radius: 100px;
}
.sb-btn:hover {
    background: #ff8700;
} 
.control {
  display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #b5b5b5;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #ff8700;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.flexwrap {
    flex-wrap: wrap;
}
.pdffile {
   display: block;
   color: #a5a5a5;
}
.landerlist-loan {
	margin-bottom:15px;
}

@media (min-width: 320px) and (max-width: 767px) {	
.review-body .review-middle {
    width: 100%;    margin-left: 0px;
}
.mobileshow {
	display:block !important;
}
.nonemobile {
	display:none !important;
}
.review-table table thead {
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    margin: 0px;
    height: auto;
    width: 100%;
}
table tr {
    border-bottom: none;
    display: table-row;
    margin-bottom: 0px;
    padding: 0px;
}
.review-table table tbody td:first-child {
    height: 35px;
    width: auto;
    border: none;
}
.review-table table thead th {
    width: auto;
    display: table-cell;
}
.review-table table tbody td {
    width: auto;
    display: table-cell;
    padding: 1px;
}
.doublecheck + label:before {
    width: 25px;
}

}





@media only screen and (max-width: 767px) {
.newstep-form {
    padding: 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
}	
.new-step-container {
    width: 100%!important;
}	
.form-newalign {
    align-items: center;
    justify-content: flex-end;
    display: block;
    flex-wrap: unset;
    width: auto;
}
.newstep-form h1 {
    font-size: 24px;
}
.checiocn li span {
    font-size: 16px;
    top: -2px;
}
.checiocn li span small {
    font-size: 12px;;
}
.styled-checkbox + label a {
    color: #FF9000;
    display: contents;
}
.radio {
    margin-bottom: 15px;
}
.docutxt + label:before {
    width: 100px;
}
.file-upload-input {
    width: 100% !important;
}
.apply-now-btn {
    padding: 10px 30px;
}
}


@media (min-width: 768px) and (max-width: 991px) {
.newstep-form {
    padding: 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
}	
.new-step-container {
    width: 100%!important;
}	
.form-newalign {
    align-items: center;
    justify-content: flex-end;
    display: block;
    flex-wrap: unset;
    width: auto;
}
.newstep-form h1 {
    font-size: 24px;
}
.checiocn li span {
    font-size: 18px;
    top: -3px;
}
.checiocn li span small {
    font-size: 14px;;
}
.styled-checkbox + label a {
    color: #FF9000;
    display: contents;
}
.radio {
    margin-bottom: 15px;
}
.docutxt + label:before {
    width: 45px;
}
.file-upload-input {
    width: 100% !important;
}
}


@media (min-width: 1440px) and (max-width: 3000px) {
.docutxt + label:before {
       width: 30px;
}
}



/* Leander css */

.leanderlist-padding { padding-top: 50px;}
.f-24-size {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.link-website {font-size: 24px; text-decoration: underline; color: black; font-weight: 700;}
.review-body {
    padding-top: 3px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 3px solid #64984b !important;
    border: 1px solid #ddd;
    margin-bottom: 0px;
}
.review-body .review-left {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    width: 150px;
}
.review-body .review-left a.card-thumbnail {
    position: relative;
    left: 1px;
    min-height: 35px;
    width: 170px;
    margin-bottom: 18px;
    display: block;
}
.review-body .review-left a.card-thumbnail img {
    width: 130px;
    height: auto;
}
.review-body .review-left a.button {
    display: block;
    height: 77px;
    width: 165px;
    position: relative;
    bottom: 18px;
}
.review-body .review-left a.button .bc-btn {
    top: 18px;
	position: relative;
    height: 42px;
    width: 144px;
    margin-left: 10px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    background-color: #319b0a;
    box-shadow: 0 1px 5px #555;
    border-radius: 3px;
}
.bc-btn .jump-text {
    position: relative;
    left: 1px;
    background: #ff8700;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.review-body .review-middle {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-left: 20px;
    min-height: 150px;
}
.review-body .review-middle ul {
    list-style-type: square;
    margin-bottom: 20px;
}
.review-body .review-right {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 100%;
    text-align: left;
    margin: 0px 0px 0px 0px;
}
.pdlrft {
    padding-left: 35px;
}

.our-rating {
    padding-top: 10px;
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 10px;
}
.review-body .review-right .our-rating .stars {
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 0;
}
.stars {
    color: #e5bb0f;
    padding: 5px 0;
}
.review-body .review-right .our-rating h4 {
    color: #333;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}
.review-body .review-right .our-rating .overall-rating {
    margin: 0;
    font-size: 13px;
}
.review-body .review-middle a {
    color: #319b0a;
    text-decoration: underline;
    font-weight: 700;
}
.review-table table {
    width: 100%;
}
.review-table table thead {
    background-color: #f7f7f7;
    border-top: none;
    border-bottom: none;
    border: none;
}

.review-table table thead th {
    width: 25%;
    height: 25px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.review-table table tbody td:first-child {
    height: 35px;
    width: 155px;
    border: 1px solid #ddd;
}
.review-table table tbody td {
    font-weight: 700;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #333;
}
.review-table table th {
    background-color: #ebecef;
    padding: 10px 5px !important;
}
.mobileshow {
	display:none !important;
}
.sb-btn {
    background: #00387a;
    color: white;
    padding: 15px 15px;
    border: none;transition: all 0.3s linear;
    display: block;    font-weight: 800;
    margin: 15px auto;
    width: 250px;    text-transform: uppercase;
	 margin-bottom: 20px;
	 border-radius: 100px;
}
.sb-btn:hover {
    background: #ff8700;
} 
.control {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 0px;
        left: 10px;
    height: 20px;
    width: 20px;
    background: #b5b5b5;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #ff8700;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.flexwrap {
    flex-wrap: wrap;
}


.upload__box {
    padding: 0px;
}
.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #242424;
    text-align: center;
    min-width: 100%;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px dotted;
    background-color: #f1f1f1;
    border-color: #ff9000;
        border-radius: 4px;
    line-height: 26px;
    font-size: 14px;
	position: relative;
}
.upload__btn:hover {
    background-color: unset;
    color: #0f2f82;
    transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0px 0px;
}
.upload__img-box {
    width: 250px;
    padding: 0 0px;
    margin-bottom: 12px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 28px;
    z-index: 1;
    cursor: pointer;
    color: white;
}
.upload__img-close:hover {
	color: white;
}

.imgpreview-newbx {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0px;
    position: relative;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    background: #f1f1f1;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    column-gap: 15px;
}
.imgpreview-newbx li {
    width: 130px;
	height: 130px;
    padding: 0 0px;
    margin-bottom: 12px;
    position: relative;
    border: 1px solid #cfcfcf;
    background: white;
}
.imgpreview-newbx li img {
    width: 130px;
	height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 0%;
    object-fit: cover;
}
.imgpreview-newbx p {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #00000061;
    color: white;
    padding: 0px 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: 100%;
    bottom: -2px;
    line-height: 20px;
    height: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.upload__btn input {
	position: absolute;
    left: 0px;
    bottom: 0px;
}

@media (min-width: 320px) and (max-width: 450px) {
.imgpreview-newbx li{
       width: 47%;
}	
.imgpreview-newbx li img {
       width: 100%;
}
.righimg {
    height: 250px;
}

}

@media (min-width: 451px) and (max-width: 575px) {
.imgpreview-newbx li {
    width: 31%;
}
.imgpreview-newbx li img {
       width: 100%;
}
}

@media (min-width: 1000px) and (max-width: 1100px) {
.imgpreview-newbx li {
    width: 100px;
    height: 100px;
}	
.imgpreview-newbx li img {
    width: 100px;
    height: 100px;
}
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    position: absolute !important;
}
.stepform-newdesign .checkgreen-upload {
    position: relative;
    right: 8px;
    top: 25px;
    color: #ffffff;
    background: #14b900;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    float: right;
    z-index: 1;
}
.progress-imgupload {
    background: rgb(147 147 147);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 13px;
  width: 100%;
  margin-bottom: 15px;
}

.progress-value {
    animation: load 3s normal forwards;
  box-shadow: none;
  border-radius: 100px;
  background: #ff9000;
  height: 13px;
  text-align:center;
  width: 0;
}

@keyframes load {
0% { width: 0; }
}
.progress-value span {
  position: relative;
  top: -1px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.addmore-plus {
    padding: 2px 2px;
    background: #112f7b;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    height: 20px;
    margin: 1px auto;
    display: inline-block;
    width: 20px;
    position: relative;
    top: 2px;
    line-height: 20px;
}
.upload__btn p {
    margin-top: 0px;
  }

  .add-btn {
    padding: 5px 10px;
    background: #112f7b;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}
.remove-btn {
	padding: 5px 10px;
    background: #ff9000;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    margin-left: 5px;
}
.add-btn:hover {
    text-decoration:none;
	color: white !important;
}
.remove-btn:hover {
	text-decoration:none;
	color: white !important;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	    position: relative;
    display: inline-block;
    padding: 0px;
    display: block;
    width: 100%;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
	border-radius: 6px;    
	border: 3px solid #ff9000; 
	display: block;
    width: 100%;
}
.checkbox-tools:not(:checked) + label{
	background-color: transparent;
    box-shadow: none;
    border-radius: 6px;
    border: 3px solid #f3f3f3;
    display: block;
    width: 100%;
}

.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox:checked ~ .background-color{
	background-color: var(--white);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

/*Profile card 2*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
}
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.card-img-block img {
	width:100%;
}
.profile-card-2 .card-body{
    position:relative;
}
.leanderlogo {
	width: 100%;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
}
.profile-card-2 .profile {
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 70px;
    border: 3px solid rgb(215 215 215);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(0%, 0%);
    /* / float: left; / */
}
.profile-card-2 h5 {
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: normal;
    font-family: 'Josefin Sans';
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-left: 20px;
    text-align: left;
}
.listlander {
    list-style: none;
    padding-left: 1px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: normal;
}
.bornoe {
	border-bottom:none;
	padding-bottom:1px;
}

.leander-flex {
	flex-wrap: wrap;
}
.w-100per {
	width: 100%; 
}


@media (min-width: 320px) and (max-width: 767px) {
.leander-flex {
	flex-wrap: wrap;
	    display: block !important;
}
}

.modal, .modal-open {
    overflow: auto;
}