/*************** NEW STEP FORM HTML CSS 1 OCT ******************/
.new-step-container {
    width: 95%!important;
}
.newstep-form {
    padding: 30px 0px;
    font-family: 'Josefin Sans', sans-serif;
}
.form-newalign {
	align-items: center;
    justify-content: flex-end;
    display: flex;
}
.newstep-form h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: normal;
}
.checiocn {
	padding-left:0px;display: flex;
	margin-bottom:15px;
}
.checiocn li {
    list-style: none;
    display: flex;
    list-style: none;
    align-items: flex-start;
    width: 100%;
}
.checiocn li img {
	margin-right: 15px;
}
.checiocn li span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -4px;
}
.checiocn li span small {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    position: relative;
    top: -5px;
}

.apply-now-btn {
    background: #112F7B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    display: table;
    margin: 0px auto;
    padding: 10px 40px;
    color: white !important;
    text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
	border:none;
}
.apply-now-btn:hover {
    background: #FF9000;
}	
.new-mt50 {
	margin-top: 50px;
}

.stepform-newdesign input {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #424141;
	margin-bottom: 15px;
	position: relative;
	    padding-right: 35px;
}
.stepform-newdesign input:focus {
    border: 1px solid #FF9000;
    outline: none;
}

.stepform-newdesign select {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #424141;
	    position: relative;
	margin-bottom: 15px;
	    padding-right: 35px;
}
.stepform-newdesign select:focus {
    border: 1px solid #FF9000;
    outline: none;
}

.stepform-newdesign .checkgreen {
	position: absolute;
    right: 25px;
    top: 38px;
    color: #00e500;
}


.stepform-newdesign a.resentotp {
	color: #FF9000;
}
.mb-0 {
	margin-bottom:0px !important;
}
.md-4 {
	margin-bottom:15px !important;
}
.ui-step-content {
    padding: 0px;
    border: none;
}
.ui-step-content h6 {
	    font-size: 16px;
    font-weight: 400;
    font-family: 'Josefin Sans';
    color: #A2A2A2;
    margin-top: 5px;
}
.unstyled {
	list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
}
.styled-checkbox + label a {
    color: #FF9000;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #707070;
}
.styled-checkbox:hover + label:before {
  background: #FF9000;
  border: 1px solid #FF9000;
}
.styled-checkbox:focus + label:before {
  box-shadow: none;
}
.styled-checkbox:checked + label:before {
  background: #FF9000;
  border: 1px solid #FF9000;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 0px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}
#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset {
    text-align: left;
}
.previous {
	color:#FF9000;
	background:transparent;
	border:none;
	font-weight: 400;
    font-family: 'Josefin Sans';
	font-size:14px;
	margin-bottom: 0px;
	padding: 0px;
}
.text-right {
	text-align:right;
}
.ml-00 {
	margin-left: 0px !important;
}
.mt-5 {
	margin-top:20px;
}

.radio {
    margin: 0px;
    display: inline-block;
    width: 50%;
    float: left;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
        content: "";
    background: #fff;
    border-radius: 100%;
    border: 1px solid #707070;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background: #FF9000;
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border: 1px solid #FF9000;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #707070;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.mb-33 {
	margin-bottom:5px;
}
.radio-label {
	font-size:14px;
}
.docutxt + label:before {
    width: 50px;
}
.mb-10 {
	margin-bottom: 10px;
}

.imgupload-box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
    position: absolute;
    right: 0px;
    z-index: 3;
}

.box-tools {
  position: absolute;
    right: 5px;
    top: 5px;
}
.box-tools button {
    background: #ff9000;
    color: white;
    border: none;
    padding: 0px;
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.box-body {
    position: absolute;
    width: 100%;
    height: 130px;
    object-fit: contain;
    z-index: 1;
}

.box-body img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    background: white;
    border: 2px dashed #91b0b3;
}
.box-body p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #112f7b;
    color: white;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 15px;
    font-size: 12px;
}
.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 130px;
    margin-bottom: 15px;
}
.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 85%;
    top: 45px;
    font-size: 14px;
}
.dropzone, .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 130px !important;
    cursor: pointer;
    opacity: 0;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}


.logo-static {
	width: 250px;
    margin-top: 30px;
}
.righimg {
	max-width: 100%;
}
.mt-1 {
	margin-top:0px;
}

.success-animation {
    margin: 35px auto;
    margin-top: 0px;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}






@media only screen and (max-width: 767px) {
.newstep-form {
    padding: 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
}	
.new-step-container {
    width: 100%!important;
}	
.form-newalign {
    align-items: center;
    justify-content: flex-end;
    display: block;
    flex-wrap: unset;
    width: auto;
}
.newstep-form h1 {
    font-size: 24px;
}
.checiocn li span {
    font-size: 16px;
    top: -2px;
}
.checiocn li span small {
    font-size: 12px;;
}
.styled-checkbox + label a {
    color: #FF9000;
    display: contents;
}
.radio {
    margin-bottom: 15px;
}
.docutxt + label:before {
    width: 100px;
}
.file-upload-input {
    width: 100% !important;
}
}


@media (min-width: 768px) and (max-width: 991px) {
.newstep-form {
    padding: 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
}	
.new-step-container {
    width: 100%!important;
}	
.form-newalign {
    align-items: center;
    justify-content: flex-end;
    display: block;
    flex-wrap: unset;
    width: auto;
}
.newstep-form h1 {
    font-size: 24px;
}
.checiocn li span {
    font-size: 18px;
    top: -3px;
}
.checiocn li span small {
    font-size: 14px;;
}
.styled-checkbox + label a {
    color: #FF9000;
    display: contents;
}
.radio {
    margin-bottom: 15px;
}
.docutxt + label:before {
    width: 45px;
}
.file-upload-input {
    width: 100% !important;
}
}


@media (min-width: 1440px) and (max-width: 3000px) {
.docutxt + label:before {
       width: 30px;
}
}



/* Leander css */

.leanderlist-padding { padding-top: 50px;}
.f-24-size {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.link-website {font-size: 24px; text-decoration: underline; color: black; font-weight: 700;}
.review-body {
    padding-top: 8px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 3px solid #64984b !important;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.review-body .review-left {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    width: 150px;
}
.review-body .review-left a.card-thumbnail {
    position: relative;
    left: 1px;
    min-height: 35px;
    width: 170px;
    margin-bottom: 18px;
    display: block;
}
.review-body .review-left a.card-thumbnail img {
    width: 130px;
    height: auto;
}
.review-body .review-left a.button {
    display: block;
    height: 77px;
    width: 165px;
    position: relative;
    bottom: 18px;
}
.review-body .review-left a.button .bc-btn {
    top: 18px;
	position: relative;
    height: 42px;
    width: 144px;
    margin-left: 10px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    background-color: #319b0a;
    box-shadow: 0 1px 5px #555;
    border-radius: 3px;
}
.bc-btn .jump-text {
    position: relative;
    left: 1px;
    background: #ff8700;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.review-body .review-middle {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-left: 20px;
    min-height: 150px;
}
.review-body .review-middle ul {
    list-style-type: square;
    margin-bottom: 20px;
}
.review-body .review-right {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 100%;
    text-align: left;
    margin: 0px 0px 0px 10px;
}
.our-rating {
    padding-top: 10px;
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 10px;
}
.review-body .review-right .our-rating .stars {
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 0;
}
.stars {
    color: #e5bb0f;
    padding: 5px 0;
}
.review-body .review-right .our-rating h4 {
    color: #333;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}
.review-body .review-right .our-rating .overall-rating {
    margin: 0;
    font-size: 13px;
}
.review-body .review-middle a {
    color: #319b0a;
    text-decoration: underline;
    font-weight: 700;
}
.review-table table {
    width: 100%;
}
.review-table table thead {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.review-table table thead th {
    width: 25%;
    height: 25px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.review-table table tbody td:first-child {
    height: 35px;
    width: 155px;
    border: none;
}
.review-table table tbody td {
    font-weight: 700;
    text-align: center;
    border-left: 1px solid #ddd;
    font-size: 12px;
    color: #333;
}
.review-table table th {
    background-color: #ebecef;
    padding: 10px 5px !important;
}
.mobileshow {
	display:none !important;
}
.sb-btn {
    background: #00387a;
    color: white;
    padding: 15px 15px;
    border: none;transition: all 0.3s linear;
    display: block;    font-weight: 800;
    margin: 15px auto;
    width: 250px;    text-transform: uppercase;
	 margin-bottom: 20px;
	 border-radius: 100px;
}
.sb-btn:hover {
    background: #ff8700;
} 
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #b5b5b5;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control input:checked ~ .control__indicator {
  background: #ff8700;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #ff8700;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.flexwrap {
    flex-wrap: wrap;
}


.upload__box {
    padding: 0px;
}
.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #242424;
    text-align: center;
    min-width: 100%;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px dotted;
    background-color: #f1f1f1;
    border-color: #ff9000;
        border-radius: 4px;
    line-height: 26px;
    font-size: 14px;
	position: relative;
}
.upload__btn:hover {
    background-color: unset;
    color: #0f2f82;
    transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0px 0px;
}
.upload__img-box {
    width: 250px;
    padding: 0 0px;
    margin-bottom: 12px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 28px;
    z-index: 1;
    cursor: pointer;
    color: white;
}
.upload__img-close:hover {
	color: white;
}

.imgpreview-newbx {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0px;
    position: relative;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    background: #f1f1f1;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    column-gap: 15px;
}
.imgpreview-newbx li {
    width: 150px;
    padding: 0 0px;
    margin-bottom: 12px;
    position: relative;
    border: 1px solid #cfcfcf;
    background: white;
    height: 130px;
}
.imgpreview-newbx li img {
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 0%;
}
.imgpreview-newbx p {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #00000061;
    color: white;
    padding: 0px 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.upload__btn input {
	position: absolute;
    left: 0px;
    bottom: 0px;
}

@media (min-width: 320px) and (max-width: 450px) {
.imgpreview-newbx li{
       width: 47%;
}	
.imgpreview-newbx li img {
       width: 100%;
}
}

@media (min-width: 451px) and (max-width: 575px) {
.imgpreview-newbx li {
    width: 31%;
}
.imgpreview-newbx li img {
       width: 100%;
}
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    position: absolute !important;
}